// .user-menu {
//   //   flex: 1;
//   background-color: aquamarine;
// }
* {
  margin: 0;
  padding: 0;
  margin: 1rem;
  max-height: 100vh;
}
.main-menu-content {
  background-color: antiquewhite;
  min-height: 100vh;
  display: flex;
}
